.homepageBannerBox {
  margin: 0.8rem 0;
  background-color: #331d37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  overflow: hidden;
}
.homepageBannerBox .html-test img {
  -webkit-transition: 2s;
  transition: 2s;
  scale: 1;
}
.homepageBannerBox .html-test img:hover {
  scale: 1.08;
}

.homepageBannerBox:hover {
  font-size: 3rem;
}

.homepageSquaresBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.6rem auto;
  max-width: 85%;
}
.homepageSquaresBox .html-test {
  width: 520px;
  overflow: hidden;
}
.homepageSquaresBox .html-test img {
  -webkit-transition: 2s;
  transition: 2s;
  scale: 1;
  margin: 0.8rem auto;
}
.homepageSquaresBox .html-test img:hover {
  scale: 1.08;
}

.carousel {
  border: 1px solid red;
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}