.thankyou-container {
  width: 100%;
  position: relative;
}
.thankyou-container img {
  width: 100%;
}
.thankyou-container h3 {
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}