.top-promo {
    height: 49px;
    background-color: #0075e3 !important;
}

.top-promo-offers {
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    right: 20px;
}

.header-container {
    width: 100% !important;
    max-width: 100%;
}

.header-row-container {
    justify-content: flex-end !important;
    margin-right: 20px;
}

.header-banner-top-offers-left {
    margin: auto 5px 0 0;
}

.middle-container {
    width: 100%;
}

.header-row {
    width: 35% !important;
}

.navbar-left {
    position: absolute !important;
    display: flex;
    margin-top: 25px;
    flex-direction: row;
    left: 50px;

    li:first-child {
        list-style: none;
    }
    li {
        margin-right: 30px;
    }
}

.minicart-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-cart-container {
    display: flex !important;
    flex-direction: row !important;
    h6 {
        margin: 25px 0 !important;
    }
}

.minicart-qty {
    display: flex;
    height: 1.5rem;
    background: none !important;
    font-size: 15px !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    h6 {
        width: 4rem;
    }
}

.minicart-icon {
    margin-right: 10px;
    background: transparent;
    width: 21px;
    height: 27px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' class='icon-minicart' viewBox='0 0 22 27' aria-hidden='true' width='22' height='27'%3E%3Cdefs%3E%3Csymbol id='icon-minicart' width='100%25' height='100%25'%3E%3Ctitle%3EMinicart Icon%3C/title%3E%3Cpath d='M1.9,27c-0.5,0-1-0.2-1.4-0.6C0.2,26.1,0,25.6,0,25.1L0.5,8.9c0-1,0.9-1.9,2-1.9h16.9c1.1,0,2,0.8,2,1.9 L22,25.1c0,0.5-0.2,1-0.5,1.4c-0.4,0.4-0.9,0.6-1.4,0.6C20.1,27,1.9,27,1.9,27z M17.2,12c-1.2-1.2-3-1.3-4-0.3 c-0.6,0.6-0.8,1.4-0.7,2.2c-0.9-0.3-1.9-0.3-2.9,0c0.1-0.8-0.1-1.6-0.7-2.2c-1-1-2.8-0.9-4,0.3c-1.2,1.2-1.3,3-0.3,4 c0.6,0.6,1.3,0.8,2.1,0.7c-0.9,2.4,0.3,5,2.7,5.9c2.4,0.9,5-0.3,5.9-2.7c0.4-1,0.4-2.1,0-3.2c0.8,0.1,1.6-0.1,2.1-0.7 C18.5,15,18.4,13.2,17.2,12z M18,7h-1.8c0-2.9-2.3-5.2-5.2-5.2C8.1,1.8,5.8,4.1,5.8,7H4c0-3.9,3.1-7,7-7S18,3.1,18,7z'%3E%3C/path%3E%3C/symbol%3E%3C/defs%3E%3Cg fill='%230075E3'%3E%3Ctitle%3EMinicart Icon%3C/title%3E%3Cpath d='M1.9,27c-0.5,0-1-0.2-1.4-0.6C0.2,26.1,0,25.6,0,25.1L0.5,8.9c0-1,0.9-1.9,2-1.9h16.9c1.1,0,2,0.8,2,1.9 L22,25.1c0,0.5-0.2,1-0.5,1.4c-0.4,0.4-0.9,0.6-1.4,0.6C20.1,27,1.9,27,1.9,27z M17.2,12c-1.2-1.2-3-1.3-4-0.3 c-0.6,0.6-0.8,1.4-0.7,2.2c-0.9-0.3-1.9-0.3-2.9,0c0.1-0.8-0.1-1.6-0.7-2.2c-1-1-2.8-0.9-4,0.3c-1.2,1.2-1.3,3-0.3,4 c0.6,0.6,1.3,0.8,2.1,0.7c-0.9,2.4,0.3,5,2.7,5.9c2.4,0.9,5-0.3,5.9-2.7c0.4-1,0.4-2.1,0-3.2c0.8,0.1,1.6-0.1,2.1-0.7 C18.5,15,18.4,13.2,17.2,12z M18,7h-1.8c0-2.9-2.3-5.2-5.2-5.2C8.1,1.8,5.8,4.1,5.8,7H4c0-3.9,3.1-7,7-7S18,3.1,18,7z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") !important;
}

.login-icon-a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-icon {
    margin-right: 10px;
    background: transparent;
    width: 14px;
    height: 15px;
    scale: 1.4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns:xlink='http://www.w3.org/1999/xlink' width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.68 8.12C9.736 9.08 8.424 9.704 6.952 9.704C5.528 9.704 4.216 9.096 3.272 8.136C1.672 8.952 0.664 10.456 0.664 12.904V13.336C0.664 13.736 0.984 14.056 1.432 14.056H12.552C13.016 14.056 13.336 13.736 13.336 13.336V12.904C13.336 10.424 12.296 8.936 10.68 8.12ZM6.952 8.536C9.192 8.536 11 6.76 11 4.52C11 2.28 9.192 0.487999 6.952 0.487999C4.744 0.487999 2.936 2.28 2.936 4.52C2.936 6.76 4.744 8.536 6.952 8.536Z' fill='%230075E3'%3E%3C/path%3E%3C/svg%3E") !important;
}

.low-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.low-header-search {
    position: absolute;
    right: 20px;
}

.low-header-search-bar {
    border-radius: 50px !important;
    background-color: #ebf6fc !important;
    border: none !important;
}

.low-header-search-button {
    color: #0075e3 !important;
}
