.top-promo {
    height: 49px;
    background-color: #0075e3 !important;
}

.top-promo-offers {
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    right: 20px;
}

.header-container {
    width: 100% !important;
    max-width: 100%;
}

.header-row-container {
    justify-content: flex-end !important;
    margin-right: 20px;
}

.header-banner-top-offers-left {
    margin: auto 5px 0 0;
}

.middle-container {
    width: 100%;
}

.header-row {
    width: 15% !important;
}

.navbar-left{
    position: absolute !important;
    display: flex ;
    margin-top: 25px;
    flex-direction: row;
    left: 50px;

    li:first-child{
        list-style: none;
    }
    li{
        margin-right: 30px;
    }
}


.mini-cart-container{
    display: flex !important;
    flex-direction: row !important;
    h6{
        margin: 25px 0 !important;
    }
}

.minicart-quantity{
    top: -3px !important;
    left: 60px !important;
    background: none !important;
    color: black !important;
    font-size: 15px !important;
}

.minicart-icon {
    color: #0075E3;

}

.login-icon {
    scale: 1.5;
    color: #0075E3;
    margin-right: 10px;
}

.low-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.low-header-search {
    position: absolute;
    right: 20px;
}

.low-header-search-bar {
    border-radius: 50px !important;
    background-color: #ebf6fc !important;
    border: none !important;
}

.low-header-search-button {
    color: #0075e3 !important;
}
